.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px,1fr));
    max-width: 1184px;
    grid-gap: 16px;
    margin: 0 48px 92px 48px;
    align-self: stretch;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-gap: 14px;
    }
}
@media screen and (max-width: 1023px) {
    .photo-grid {
        margin: 0 24px 88px 24px;
        grid-gap: 16px;
    }
}
@media screen and (max-width: 767px) {
    .photo-grid {
        margin: 0 16px 64px 16px;
        grid-gap: 12px;
    }
}